header{
    background-color: blueviolet;
}

.products_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.bb{
    position: absolute;
    right: 0cm !important;
}
